<div class="widget tag">
  <h3 class="title">My Codes(gist)</h3>
  <ul class="entry">
    <li><a href="<%- config.gist %>8093281" target="_blank">DragAndDropDemo</a></li>
    <li><a href="<%- config.gist %>8093389" target="_blank">LedLightDemo</a></li>
    <li><a href="<%- config.gist %>d0df67fb40be217638a3" target="_blank">PingUtil</a></li>
    <li><a href="<%- config.gist %>9406327" target="_blank">GPS utility</a></li>
    <li><a href="<%- config.gist %>9521561" target="_blank">PopupWindow</a></li>
  </ul> 
</div>
