<div class="widget tag">
  <h3 class="title">My Projects</h3>
  <ul class="entry">
    <li><a href="<%- config.url %>/ANotepad" target="_blank">ANotepad</a></li>
    <li><a href="<%- config.url %>/PushNewsmth2Mail" target="_blank">PushNewsmth2Mail</a></li>
    <li><a href="<%- config.url %>/DoubleFacedCamera" target="_blank">DoubleFacedCamera</a></li>
    
    <li><a href="<%- config.url %>/TransformersPuzzle" target="_blank">TransformersPuzzle</a></li>
    <li><a href="<%- config.url %>/BluetoothChat" target="_blank">BluetoothChat</a></li>
    <li><a href="<%- config.url %>/LianLianKan" target="_blank">LianLianKan</a></li>
  </ul>
</div>
